
html, body{height:100%;}
*{box-sizing: border-box;}
body{margin: 0;padding: 0; background:url(../Asset/dot.svg);}
#wrapper{
    display: flex;
    flex-flow: column ;
    height: 100%
}

header {
    z-index: 10;
    max-height:90px;
    width: auto;
    text-align: center;
    background: rgba(44, 144, 36, 0.90);
    box-shadow: 0px 0px 10px 5px rgb(31, 42, 30);
}

/*container contient le contener de vignettes et les barre de nav */
.container{
    flex: auto;
    z-index: 9;
    display: flex;
    flex-flow: row wrap;
    max-width: 80%;
    margin: 0 auto;
    border: 1px solid rgba(27, 67, 24, 0.8);
    background: #fff;
    box-shadow: 0px 10px 10px -5px rgb(31, 42, 30);
}
.container>div:first-child{align-self: flex-start;}
.container>div:last-child{align-self: flex-end;}

/*content contient les vignettes*/
.content {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
}
.content > div{width: 150px; height: 150px; border: 1px solid rgba(27, 67, 24, 0.8);padding: 5px;margin:5px;}
.content > div:hover{border: 1px solid rgba(44, 144, 36,0.8);box-shadow:0px 0px 5px 5px rgba(44, 144, 36, 0.53);}


/*footer*/
footer{min-height:80px; max-height:100px; background: rgba(44, 144, 36, 0.53);}
